# Run rails console
function sc {
  if [ -e "script/console" ]
  then
    script/console
  else
    bundle exec rails c
  fi
}

# Create a new directory and enter it
function md() {
	mkdir -p "$@" && cd "$@"
}
